@model Foreverly.Models.WeddingService

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>WeddingService</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WeddingId" class="control-label"></label>
                <select asp-for="WeddingId" class ="form-control" asp-items="ViewBag.WeddingId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PartnerId" class="control-label"></label>
                <select asp-for="PartnerId" class ="form-control" asp-items="ViewBag.PartnerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ServiceType" class="control-label"></label>
                <input asp-for="ServiceType" class="form-control" />
                <span asp-validation-for="ServiceType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPrice" class="control-label"></label>
                <input asp-for="TotalPrice" class="form-control" />
                <span asp-validation-for="TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommissionPercent" class="control-label"></label>
                <input asp-for="CommissionPercent" class="form-control" />
                <span asp-validation-for="CommissionPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommissionAmount" class="control-label"></label>
                <input asp-for="CommissionAmount" class="form-control" />
                <span asp-validation-for="CommissionAmount" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Confirmed" /> @Html.DisplayNameFor(model => model.Confirmed)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SpecialRequest" class="control-label"></label>
                <input asp-for="SpecialRequest" class="form-control" />
                <span asp-validation-for="SpecialRequest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
